LM_data/data
LM_data/map
train_bev_images
train_bev_images/vehicle_tracks_000
train_bev_images/vehicle_tracks_001
train_bev_images/vehicle_tracks_002
train_bev_images/vehicle_tracks_003
train_bev_images/vehicle_tracks_004
train_bev_images/vehicle_tracks_005
train_bev_images/vehicle_tracks_006
train_bev_images/vehicle_tracks_007
train_bev_images/vehicle_tracks_008
train_bev_images/vehicle_tracks_009
train_bev_images/vehicle_tracks_010
LM_wm/training_data
LM_wm/validation_data
LM_wm/models/checkpoints
test_outputs

# 忽略所有 __pycache__ 目录
__pycache__/

# 忽略所有 .pyc 文件
*.pyc

# 忽略所有 .pyo 文件（优化后的字节码）
*.pyo

# 忽略所有 .pyd 文件（Windows 动态链接库）
*.pyd
